@page
@model DrochClicker.Pages.ShopModel
@{
}

<h2>Магазин</h2>
<p>@foreach (var item in Model.ShopUpgrades)
    {
        if (item.EffectType != "Rebirth")
        {

            var userUpgrade = Model.UserUpgrades.FirstOrDefault(u => u.UpgradeId == item.ItemId);
            var level = userUpgrade?.Level ?? 0;
            var FinalPrice = item.Price * Math.Pow(1.15, level);
            var FinalPrice5 = item.Price * (Math.Pow(1.15, level) * 5); 
            <form method="post">
                <ul>
                <p>@item.Name - @FinalPrice (@item.EffectType) (+@item.Value) </p>
                <button asp-page-handler="Buy" asp-route-upgradeId="@item.ItemId">Купить</button>

                <p>@item.Name - @FinalPrice5 (@item.EffectType) (+@item.Value) </p>
                <button asp-page-handler="Buy5" asp-route-upgradeId="@item.ItemId">Купить x5</button>
            </ul>
        </form>
        }
    }
    
